# dependencies
node_modules/

# environment variables
.env
backend/.env

# generated exports
repomix-output.xml
VivaCoach_AI_Project_Report.pdf

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db
